
<footer id="footer" class="footer text-center text-lg-start text-muted">



    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="index.html" class="d-flex align-items-center">
                   <img src="https://ik.imagekit.io/rn4jfgmjp/Buono_Assets/buono_logo.png?updatedAt=1722435258879" alt="logo" height="48" class="mr-2"> <span>Buono</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Ruko Hollywood square</p>
                    <p>Jl. Pangeran Sogiri Blok D No.2-3, RT.01/RW.02, Tanah Baru, Kec. Bogor Utara, Kota Bogor, Jawa Barat 16154</p>
                    <p><strong>Best Coffeeshop,</strong> <span>North Bogor.</span></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><i class="fa fa-chevron-right"></i> <a href="{{ url_for('home') }}" target="_blank">Home</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="{{ url_for('about') }}" target="_blank">About us</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="{{ url_for('menu') }}" target="_blank">Menu</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="{{ url_for('contact') }}" target="_blank">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Service Options</h4>
                <ul>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Outdoor seating</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Dine-in</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Free Parking</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Room Meeting Event</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 social-media">
                <h4>Get In Touch</h4>
                <div class="social-links d-flex">
                    <a href="https://g.co/kgs/KGBdaUQ"><i class="fa-brands fa-google"></i></a>
                    <a href="https://www.facebook.com/Buonocafebogor/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/buonocafebogor?igsh=MXdqZHI1YWFsNGkwaA=="><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://wa.me/6281211362228"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">2024</strong> <span>Created and Developed by Ikhsan Budiharta</span>
        </p>

    </div>

</footer>